.error{
    text-align: center;
    margin-top: 1rem;
}

.message{
    text-align: center;
    margin-top: 3rem;
    font-size: 5rem;
}

.links{
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.link-badge {
    background-color: #8593c9;
    color: white;
    border-radius: 0.75rem;
    text-decoration: None;
    padding: 0.25rem 0.6rem;
    
}


.loading{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Lexend';
    color: #666;
}

h1{
    font-family: 'lexend', Arial, Helvetica, sans-serif;
    color: #003682;
    text-align: center;
    font-size: 4rem;
}

.search{
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 1.5rem;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);

}

.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 600px;
}

.search-input::placeholder{
    color: rgba(0, 0, 0, 0.25)
}

.topic-card{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f7fcfc;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 2rem;
    border: 1px solid #e5e7eb;
    width: 98%

}

.results{
    font-family: 'Lexend';
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.claim {
    padding: 1.5rem;
    border-radius: 1rem;
    border-left: 5px solid #8593c9;
    margin-bottom: 1rem;
    transition: transform 0.4s ease;
    
}

.claim:hover{
    transform: translateX(5px);
}

.claim p{
    margin: 0.5rem 0;
    line-height: 1.8;
}

.loading{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: 0.4rem;
    animation: scaling 2.5s ease-in-out infinite;
}

.loading:nth-of-type(1){
    animation-delay: 0.2s;
}

.loading:nth-of-type(2){
    animation-delay: 0.4s;
}

.loading:nth-of-type(3){
    animation-delay: 0.6s;
}

.loading:nth-of-type(4){
    animation-delay: 0.8s;
}

.loading:nth-of-type(5){
    animation-delay: 1s;
}

@keyframes scaling{
    0%, 100%{
        transform: scale(0.2);
        background-color: #30FFb7;
    }
    40%{
        transform: scale(1);
        background-color: #07deff;
    }
    50%{
        transform: scale(1);
        background-color: #0761ff;
    }
}

.loading-container{
    text-align: center;
    margin-top: 5rem;
    font-family: 'Lexend';
}

.loading-container p {
    font-size: 1.25rem;
    font-weight: 500;
    color: #555;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
    animation: fadeIn 0.7s ease-in
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
}